
.car-price{
    color:gray;
    text-align:center;
}
.car-name{
    text-align:center;
}


.cars-table{
    overflow:auto;
    width:82vw;
}

.disabled-link{
    pointer-events:none;
    display:none;
}

