
.App{
  background-color:#f2f2f2;
  max-width:100vw;
  text-align: center;
  margin:auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding:10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-view-wrapper {
  display:flex;
  margin:auto;
  height: 800px;
  overflow: auto;
}

.filters-wrapper{
  width:15%;
  margin:10px;
  padding-top:10px;
}

.calendar-wrapper{
  max-width:75%;
  margin:10px;
  padding-top:10px;
}

@media only screen and (max-width:1000px)
{
  .App{
    max-width:90%;
  }
}

@media only screen and (max-width:560px){
  .main-view-wrapper{
    flex-direction: column;
    padding:10px;
  }
  .calendar-wrapper{
    margin:auto;
    max-width:90%;
    padding-bottom:10px;
  }
  .filters-wrapper{
    width:90%;
    margin:10px auto;
  }
}


