.cars{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.car-price{
    color:gray;
    text-align:center;
}
.car-name{
    text-align:center;
}


.cars-table{
    max-height:100%;
    overflow:auto;
}

.disabled-link{
    pointer-events:none;
    display:none;
}

